.header {
    padding: 10px 16px;
    background-color:#213547;
    color: #f1f1f1;
    display: flex;
    text-align: center;
    margin-bottom: 5rem;
}


.title {
  text-align: center;
  margin-left: 40%;
  margin-right: 40%;
}
