

.to-do-input{
    font-size: 1rem;
    padding: 7px;
    border: 3px solid #213547;
    border-radius: 15px;
}
.to-list {
    padding: 0 ;
    list-style: none;
    overflow: auto;
    ;
    
  }
.do-list{
    font-size: 1.3rem;
    margin-bottom: 0px;
    ;
    padding: 3px;
    border-radius: 10px;
    
    align-items: center;
}
.add-button {
    margin-left: 15px;
    background-color: #213547;
    font-size: 0.8rem;
  }
  
  .done-button{
    background-color: #213547ce;
    font-size: 0.75rem;
    margin-left: 100px ;
  }
  .delete-button{
    background-color: #213547ce;
    font-size: 0.75rem;
    margin-left: 4px;
  }
  .move-button {
    font-size: 0.75rem;
    margin-left: 10px;
  }

.buttons{
    display: inline;
    float: right;
    
}
.to-do-list {
  width: 500px;
  background-color: hwb(0 11% 89%);
  height: 350px;
  overflow: auto;
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  
}
.weekly {
  display: inline-block;
}
.title {
  text-align: center;
  
  
}