
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: 30px 200px;
    gap: 5px;
    background-color: #242424;
    padding: 5px;
    border-radius: 10px;
    margin-top: 2px;
    width: auto;
    

  }
  .grid-item {
    outline: 10px;
    outline-color: black;
    text-align: center;
    background-color: #213547;
    border-radius: 10px;
    text-align: center;
    font-size: large;
    ;
  }
  
.grid-tasks {
  background-color: #213547;
  border-radius: 10px;
  text-align: center;
  margin-top: 18px;
  font-size: medium;
  font: weight 200px; ;
  height: 200px;
  overflow: auto;
}
.gridbox {
  display: block;
  
  align-items: center;
  width: 77vw;
  margin-top: 2rem;
}
.date-info {
  background-color: #213547;
  font-weight: bold;
  border-radius: 10px;
}
.today{
  color: red;
}
.navigation-buttons {
  display: flex;
  justify-content: center;
  
}
.week-button {
  margin-left: 5px;
}